In [1]:
import pandas as pd

In [4]:
prices = [42, 80, 230, 300, 190]

s = pd.Series(prices)
s.describe()

count      5.000000
mean     168.400000
std      106.502582
min       42.000000
25%       80.000000
50%      190.000000
75%      230.000000
max      300.000000
dtype: float64

In [9]:
data = {
    "date": ['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05'],
    "prices": [42, 80, 230, 300, 190]
}

df = pd.DataFrame(data)
print(df)

         date  prices
0  2021-12-01      42
1  2021-12-02      80
2  2021-12-03     230
3  2021-12-04     300
4  2021-12-05     190

In [15]:
# web scraping wikipedia for the S&P 500

newdata = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

df = newdata[0]
print(df)

    Symbol             Security SEC filings             GICS Sector  \
0      MMM           3M Company     reports             Industrials
1      ABT  Abbott Laboratories     reports             Health Care
2     ABBV               AbbVie     reports             Health Care
3     ABMD              Abiomed     reports             Health Care
4      ACN            Accenture     reports  Information Technology
..     ...                  ...         ...                     ...
500    YUM          Yum! Brands     reports  Consumer Discretionary
501   ZBRA   Zebra Technologies     reports  Information Technology
502    ZBH        Zimmer Biomet     reports             Health Care
503   ZION        Zions Bancorp     reports              Financials
504    ZTS               Zoetis     reports             Health Care

                      GICS Sub-Industry    Headquarters Location  \
0              Industrial Conglomerates    Saint Paul, Minnesota
1                 Health Care Equipment  North Chicago, Illinois
2                       Pharmaceuticals  North Chicago, Illinois
3                 Health Care Equipment   Danvers, Massachusetts
4        IT Consulting & Other Services          Dublin, Ireland
..                                  ...                      ...
500                         Restaurants     Louisville, Kentucky
501  Electronic Equipment & Instruments   Lincolnshire, Illinois
502               Health Care Equipment          Warsaw, Indiana
503                      Regional Banks     Salt Lake City, Utah
504                     Pharmaceuticals   Parsippany, New Jersey

    Date first added      CIK      Founded
0         1976-08-09    66740         1902
1         1964-03-31     1800         1888
2         2012-12-31  1551152  2013 (1888)
3         2018-05-31   815094         1981
4         2011-07-06  1467373         1989
..               ...      ...          ...
500       1997-10-06  1041061         1997
501       2019-12-23   877212         1969
502       2001-08-07  1136869         1927
503       2001-06-22   109380         1873
504       2013-06-21  1555280         1952

[505 rows x 9 columns]

In [16]:
df1 = df[['Symbol', 'Security']]
print(df1)

    Symbol             Security
0      MMM           3M Company
1      ABT  Abbott Laboratories
2     ABBV               AbbVie
3     ABMD              Abiomed
4      ACN            Accenture
..     ...                  ...
500    YUM          Yum! Brands
501   ZBRA   Zebra Technologies
502    ZBH        Zimmer Biomet
503   ZION        Zions Bancorp
504    ZTS               Zoetis

[505 rows x 2 columns]

In [19]:
# filter by company
Apple = df[df['Security'] == 'Apple']
print(Apple)

   Symbol Security SEC filings             GICS Sector  \
44   AAPL    Apple     reports  Information Technology

                             GICS Sub-Industry  Headquarters Location  \
44  Technology Hardware, Storage & Peripherals  Cupertino, California

   Date first added     CIK Founded
44       1982-11-30  320193    1977

In [20]:
#looking at all available columns 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 505 non-null    object
 1   Security               505 non-null    object
 2   SEC filings            505 non-null    object
 3   GICS Sector            505 non-null    object
 4   GICS Sub-Industry      505 non-null    object
 5   Headquarters Location  505 non-null    object
 6   Date first added       457 non-null    object
 7   CIK                    505 non-null    int64
 8   Founded                505 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [22]:
import requests

url_link = 'https://finance.yahoo.com/quote/TSLA/profile' 

r = requests.get(url_link, headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}) 

data1 = pd.read_html(r.text) 
print(data1[0])

                       Name                                        Title  \
0          Mr. Elon R. Musk          Technoking of Tesla, CEO & Director
1   Mr. Zachary J. Kirkhorn                         Master of Coin & CFO
2     Mr. Andrew D. Baglino    Sr. VP of Powertrain & Energy Engineering
3        Mr. Vaibhav Taneja  Corp. Controller & Chief Accounting Officer
4         Mr. Martin Viecha          Sr. Director for Investor Relations
5         Mr. Alan Prescott                                  VP of Legal
6           Mr. Dave Arnold        Sr. Director of Global Communications
7              Brian Scelfo                 Sr. Director of Corp. Devel.
8   Mr. Jeffrey B. Straubel                                  Sr. Advisor
9  Mr. Franz von Holzhausen                               Chief Designer

       Pay Exercised  Year Born
0      NaN       NaN     1972.0
1  300.76k     4.19M     1985.0
2  283.27k    14.86M     1981.0
3      NaN       NaN     1978.0
4      NaN       NaN        NaN
5      NaN       NaN        NaN
6      NaN       NaN        NaN
7      NaN       NaN        NaN
8      NaN       NaN     1976.0
9      NaN       NaN        NaN

In [31]:
url_link1 = 'https://finance.yahoo.com/quote/TSLA/analysis?p=TSLA' 

data2 = pd.read_html(r.text) 
print(data2[0]) 

# Now we can access the Avg. Estimate row from the table and plot it as a bar chart:
data3 = data2[data2['Earnings Estimate'] == 'Avg. Estimate'] 
data3.plot(kind='bar')

                       Name                                        Title  \
0          Mr. Elon R. Musk          Technoking of Tesla, CEO & Director
1   Mr. Zachary J. Kirkhorn                         Master of Coin & CFO
2     Mr. Andrew D. Baglino    Sr. VP of Powertrain & Energy Engineering
3        Mr. Vaibhav Taneja  Corp. Controller & Chief Accounting Officer
4         Mr. Martin Viecha          Sr. Director for Investor Relations
5         Mr. Alan Prescott                                  VP of Legal
6           Mr. Dave Arnold        Sr. Director of Global Communications
7              Brian Scelfo                 Sr. Director of Corp. Devel.
8   Mr. Jeffrey B. Straubel                                  Sr. Advisor
9  Mr. Franz von Holzhausen                               Chief Designer

       Pay Exercised  Year Born
0      NaN       NaN     1972.0
1  300.76k     4.19M     1985.0
2  283.27k    14.86M     1981.0
3      NaN       NaN     1978.0
4      NaN       NaN        NaN
5      NaN       NaN        NaN
6      NaN       NaN        NaN
7      NaN       NaN        NaN
8      NaN       NaN     1976.0
9      NaN       NaN        NaN

TypeError: list indices must be integers or slices, not DataFrame