#### Find The Bug!

Strings are enclosed in double or single quotes.
In order to include double quotes in double quoted strings, or single quotes in single quoted strings, you need to escape them.

Task:
Fix the given Python code to generate the expected output.

print('I'm learning Python!')

print("A number enclosed in double quotes: "42"")

In [1]:
print('I\'m learning Python!')
print("A number enclosed in double quotes: \"42\"")

I'm learning Python!
A number enclosed in double quotes: "42"