In [2]:
import pandas as pd

pd.read_html('https://en.wikipedia.org/wiki/Table_(information)')

[  First name   Last name  Age
 0       Tinu    Elejogun   14
 1     Javier      Zapata   28
 2       Lily   McGarrett   18
 3  Olatunkbo    Chijiaku   22
 4   Adrienne    Anthoula   22
 5     Axelia  Athanasios   22
 6  Jon-Kabat        Zinn   22
 7    Thabang       Mosoa   15
 8   Kgaogelo       Mosoa   11,
    Ã—  1  2  3
 0  1  1  2  3
 1  2  2  4  6
 2  3  3  6  9,
                          0             1  \
 0  Standard Representation           NaN
 1                    3 2 1           NaN
 2              Health Risk  Flammability
 3                  Level 3       Level 2

                                                    2        3
 0                             Tabular Representation      NaN
 1  Risk levels of hazardous materials in this fac...      NaN
 2                                         Reactivity  Special
 3                                            Level 1      NaN  ,
   Health Risk Flammability Reactivity  Special
 0     Level 3      Level 2    Level 1      NaN,
     0                                                  1
 0 NaN  Look up table in Wiktionary, the free dictionary.,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteVisualization of technical information  \
 0                                             Fields
 1                                        Image types
 2                                             People
 3                                     Related topics

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteVisualization of technical information.1
 0  Biological data visualization Chemical imaging...
 1  Chart Diagram Engineering drawing Graph of a f...
 2  Jacques Bertin Cynthia Brewer Stuart Card Shee...
 3  Cartography Chartjunk Computer graphics in com...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ]

In [12]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/Table_(information)')[0]

df.head()

  First name  Last name  Age
0       Tinu   Elejogun   14
1     Javier     Zapata   28
2       Lily  McGarrett   18
3  Olatunkbo   Chijiaku   22
4   Adrienne   Anthoula   22

In [13]:
df.set_index('First name', inplace=True)
df.head()

            Last name  Age
First name
Tinu         Elejogun   14
Javier         Zapata   28
Lily        McGarrett   18
Olatunkbo    Chijiaku   22
Adrienne     Anthoula   22